@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --primary: tomato;
    --fg-100: hsl(220 20% 98%);
    --global: hsl(332, 32, 10%);
    --fg-200: hsl(220 20% 80%);
    --bg-100: hsl(220 20% 10%);
    --bg-50: hsl(220 20% 20%);
    --bg-25: hsl(220 20% 26%);
    --success: hsl(151, 46%, 57%);
}

html,
body,
#app {
    height: 100%;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: var(--fg-100);
    background: var(--bg-100);
}

button {
    width: fit-content;
    font: inherit;
    color: inherit;
    background: none;
    padding: 0.5rem;
    border: none;
    opacity: 0.5;
    border: 2px solid var(--fg-100);
    transition: all 0l3s ease;
}

button:hover {
    cursor: pointer;
    color: var(--primary);
    padding: 0.5rem;
    border: 2px solid var(--primary);
    opacity: 1;
}